<h1><%= @paper.title %></h1>

<h2>Venue: <%= @paper.venue %></h2>
<h2>Year: <%= @paper.year %></h2>
<h2>Authors:
  <% i = 1 %>
  <% @paper.authors.each do |author| %>
    <%= author.name %>
    <% if i < @paper.authors.length %>
      <%= ', ' %>
    <% end %>
  <% end %>
</h2>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
